*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    border: 1px solid black;
    padding: 15px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;

}
button{
    width: 50px;
    height: 60px;
    font-size: 18px;
    font-weight: 800;
    margin: 8px;
    color:white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
    border: solid 1px rgba(255,255,255,0.2);
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.5);
}
#inputbox{
    text-align: right;
    width: 280px;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 8px rgba(0,0,0,0.4);
    background: rgba(255,255,255,0.3);
    border-radius: 16px;
    color: white;
    outline: none;
}
.AC{
    font-size: 20px;
    color:#aa4335;
}
.DEL{
    font-size: 20px;
    color: #aa4335;
}
.op{
    color: #aa4335;
}
.op:hover{
    color: white;
    background-color: #aa4335;
}
.AC:hover{
    color: white;
    background-color: #aa4335;
}
.DEL:hover{
    color: white;
    background-color: #aa4335;
}
.equalbtn{
    color: #aa4335;
}
.equalbtn:hover{
    color: white;
    background-color: #aa4335;
}
@media(max-width:710px){
    .container{
        margin-right: 120px;
        margin-bottom: 70px;
    }
}
@media(max-width: 335px){
    .container{
        margin-left: 120px;
        margin-bottom: 70px;
    }
}
@media(max-width: 413px){
    .container{
        margin-left: 120px;
        margin-bottom: 70px;
    }
}